<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>
   Please enter the deadline.
  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>
  Please enter the NUMBER of the project.
  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
  </div>

  Please enter the priority.
  <div class="field">
    <%= select(:task, :priority, [['High', 'High'], ['Medium', 'Medium'], ['Low', 'Low']]) %>
  </div>
  And finally...

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
