<p id="notice"><%= notice %></p>
  
  <div class="container project">
    <% @projects.each do |project| %>
      <div class="row border">
        <div class="name"><%= project.name %></div>
        <div class="tasks"><%= link_to 'Tasks', tasks_path(project), :class => "btn btn-success" %></div>
        <div class="edit"><%= link_to 'Edit', edit_project_path(project), :class => "btn btn-warning" %></div>
        <div class="destroy"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></div>
        <br>       
      </div>
    <% end %>
  </div>


<br>

<%= link_to 'New Project', new_project_path, :class => "btn btn-primary new-project" %>
